//font sizes
$font-xs: 18px;
$font-sm: 20px;
$font-md: 25px;
$font-lg: 30px;
$font-xl: 40px;

//serenity theme
$background-primary: #f4f2ee;
$background-secondary: #dde1e3;
$navigation-primary: #ced8d0;
$accent: #dcc2b6;

// text colors
$text-primary: #333;
$text-secondary: #2a2929;
